/* below is the css for the index page*/

body {
    background-color: beige;
}

.index-header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: brown;
    text-align: center;
}

.index-list{
    font-size: 40px;
    color: cadetblue;
}

.link{
    font-size: 40px;
    color: cadetblue;
}

/* below is the css for the beef stew page*/
